<nav class="navbar__nav">
  <ul class="navbar__ul">
    <li routerLinkActive="active__link" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home</a></li>
    <li routerLinkActive="active__link"  ><a routerLink="/allTourists">All tourists</a></li>
    <li routerLinkActive="active__link"><a routerLink="/allFlights">All Flights</a></li>
    <li routerLinkActive="active__link"><a routerLink="/createTourist">Create Tourist</a></li>
    <li routerLinkActive="active__link"><a routerLink="/createFlight" >Create Flight</a></li>
  </ul>
</nav>
